<apex:page controller="ContractTermChangesController" showHeader="false" showChat="false" renderAs="Pdf" standardStylesheets="false" applyBodyTag="false"  applyHtmlTag="false">
    <html>
        <apex:stylesheet value="{!$Resource.PDF_CSS}" />
        <head>
        
     <style type="text/CSS">
                .column{
                border:solid 1px green;
                }
                html .brandTertiaryBgr{
                background-color: #e6e6e6!important;
                }
                .labelBold{
                font-weight: bold;
                }
                #dealProdView{
                border-collapse:collapse;
                margin-bottom:15px;
                width:90%;
                }
                #dealProdView td,#dealProdView th {
                padding:5px;
                border:1px solid #fff;
                border-width:0 1px 1px 0;
                }
                #dealProdView thead th{
                background:#91c5d4;
                text-align:center;
                }
                #dealProdView thead th[colspan],
                #dealProdView thead th[rowspan] {
                background:#66a9bd;
                text-align:center;
                }
                #dealProdView tbody th,
                #dealProdView tfoot th{
                text-align:left;
                background:#91c5d4;
                }
                td {
                padding-top: .5em;
                padding-bottom: .5em;
                }
                #dealProdView tbody td,
                #dealProdView tfoot td {
                text-align:center;
                background:#d5eaf0;
                }
                #dealProdView tbody tr.odd td{ 
                background:#bcd9e1;
                }
                .hidden
                {
                display:none;
                }
               .inset {border-style: inset;}
            </style>
        </head>
        <body>
            <div class="inset">
     <apex:form >
      <apex:pageMessages id="pageMessages" />
        
           <apex:pageBlock >  
               <apex:outputPanel rendered="{!showDetails}">
               
                       
                   <apex:image id="theImage" value="/resource/1492811809000/nestAwayLogo" width="150" height="150" style="margin-left:300px;margin-bottom:50px;margin-top:50px;"/>
     <p align="justify" style="margin-left: 1cm; margin-bottom: 0cm; line-height: 100%">
            <span lang="en-US">
                <span style="background: #ffffff"> Following fields have been modified in house terms. Please review the changes and approve or reject the terms.
 .</span>
            </span>
         </p>
         <br/>
                   <apex:pageBlockSection title="Terms Detail:"  >
                    </apex:pageBlockSection>
      
       <table id="dealProdView" style="border-collapse:collapse;margin-bottom:15px;width:100%;" >
                                <thead>
                                    <tr id="row" class="">
                             <th class="th"> Terms </th>
                             <th class="th">Old Value</th>
                             <th class="th">New Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <apex:repeat value="{!showContChangesFieldData}" var="opData" id="APR2">
                                            <tr style="margin-top:20px;">
                                                <td>
                                                    <apex:outputLabel value="{!opData.Label_Name__c}"/>
                                                </td>
                                                <td>
                                                    <apex:outputField value="{!activeCon[opData.Field_API_Name__c]}"/>
                                                </td>
                                                <td>
                                                    <apex:outputField value="{!newCon[opData.Field_API_Name__c]}"/>
                                                </td>
                                            </tr>
                                    </apex:repeat>
                                    <apex:repeat value="{!showRoomTermChanges}" var="rtChange">
                                             <tr style="margin-top:20px;">
                                                <td>
                                                    <apex:outputLabel value="{!'Room Base Rent('+rtChange.Name+')'}"/>
                                                </td>
                                                <td>
                                                    <apex:outputField value="{!rtChange.Monthly_Base_Rent_Per_Room__c}"/>
                                                </td>
                                                <td>
                                                    <apex:outputField value="{!rtChange.New_Monthly_Base_Rent_Per_Room__c}"/>
                                                </td>
                                            </tr>
                                    </apex:repeat>
                                </tbody> 
                            </table>
                   
                    <br/>
         <br/>
          
         <br/>
                   <p align="justify" style="margin-left: 1cm; margin-bottom: 0cm; line-height: 100%">
            <span lang="en-US">
                <span style="background: #ffffff">  For any clarifications please reach out to our executive at {!$Label.Care_Number_For_Contract_Versioning}.</span>
            </span>
         </p>
        
        </apex:outputPanel>  
        
       </apex:pageBlock>
     </apex:form>
            </div>
        </body>
    </html>
</apex:page>