<apex:page standardController="Contract" extensions="ContractEditControllerExtension" showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
  <apex:slds />
  <apex:form >
    <html>
      <head>
        <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" />
        <apex:includeScript value="{!$Resource.bootstrapdatepickerjs}"/>
        <apex:stylesheet value="{!$Resource.bootstrapdatepickercss}"/>
        <apex:stylesheet value="{!$Resource.bootstrapmincss}"/>
        <apex:includeScript value="{!$Resource.bootstrapminjs}"/>
        <script>

         
          $(document).ready(function() {
            $('.date-picker-popup').datepicker({
              autoUpdateInput: false,
              singleDatePicker: true,
              orientation: "Bottom",
              autoclose: true,
              format: 'dd/mm/yyyy',
              orientation: 'top',
            },
            function(chosen_date) {
              $('.date-picker-popup').val(chosen_date.format('DD-MM-YYYY'));
            }).attr('readonly','readonly');

            $('.date-picker-popup').attr('style','background-color:white');

            var nextDay = new Date();
            nextDay.setDate(nextDay.getDate() + 1);
            $('.date-picker-popup-next-day').datepicker({
              autoUpdateInput: false,
              singleDatePicker: true,
              orientation: "Bottom",
              autoclose: true,
              format: 'dd/mm/yyyy',
              orientation: 'top',
            },
            function(chosen_date) {
              $('.date-picker-popup-next-day').val(chosen_date.format('DD-MM-YYYY'));
            }).attr('readonly','readonly');

            $('.date-picker-popup-next-day').attr('style','background-color:white');


            $('.date-picker-popup-any-day').datepicker({
              autoUpdateInput: false,
              singleDatePicker: true,
              orientation: "Bottom",
              autoclose: true,
              format: 'dd/mm/yyyy',
              orientation: 'top',
            },
            function(chosen_date) {
              $('.date-picker-popup-any-day').val(chosen_date.format('DD-MM-YYYY'));
            }).attr('readonly','readonly');

            $('.date-picker-popup-any-day').attr('style','background-color:white');


            var dobDay = new Date();
          dobDay.setDate(dobDay.getDate() - 1);
          $('.date-picker-popup-dob').datepicker({
              endDate: dobDay,
              autoUpdateInput: false,
              singleDatePicker: true,
              orientation: "Bottom",
              autoclose: true,
              format: 'dd/mm/yyyy',
              orientation: 'top',
            },
            function(chosen_date) {
              $('.date-picker-popup-dob').val(chosen_date.format('DD-MM-YYYY'));
            }).attr('readonly','readonly');

            $('.date-picker-popup-dob').attr('style','background-color:white');

          });

          

        </script>
        <style>
          label {
                font-size: 12px;
                color: rgba(88, 88, 88, 0.69);
                margin-bottom: 1px;
          }
          h4 {
            font-size: 14px;
          }
          .dateFormat{
            visibility: hidden;
          }
          select {
          display: block;
          padding: 6px 12px;
          border: 1px solid #ccc;
          border-radius: 4px;
          background: none;
          width: 100%;
          }
          .padding-bottom-20{
          padding-bottom: 20px;
          }
          .col-1-1,.grid{width:100%}.grid:after,[class*=grid],[class*=col-],[class*=mobile-]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}[class*=col-]{float:left;min-height:1px;padding-right:20px}.grid-pad,[class*=col-] [class*=col-]:last-child{padding-right:0}.grid{max-width:1045px;min-width:748px;margin:0 auto;overflow:hidden}.grid:after{content:"";display:table;clear:both}.grid-pad{padding-top:20px;padding-left:20px}.push-right{float:right}.col-2-3,.col-8-12{width:66.66%}.col-1-2,.col-6-12{width:50%}.col-1-3,.col-4-12{width:33.33%}.col-1-4,.col-3-12{width:25%}.col-1-5{width:20%}.col-1-6,.col-2-12{width:16.667%}.col-1-7{width:14.28%}.col-1-8{width:12.5%}.col-1-9{width:11.1%}.col-1-10{width:10%}.col-1-11{width:9.09%}.col-1-12{width:8.33%}.col-11-12{width:91.66%}.col-10-12{width:83.333%}.col-9-12{width:75%}.col-5-12{width:41.66%}.col-7-12{width:58.33%}.push-2-3,.push-8-12{margin-left:66.66%}.push-1-2,.push-6-12{margin-left:50%}.push-1-3,.push-4-12{margin-left:33.33%}.push-1-4,.push-3-12{margin-left:25%}.push-1-5{margin-left:20%}.push-1-6,.push-2-12{margin-left:16.667%}.push-1-7{margin-left:14.28%}.push-1-8{margin-left:12.5%}.push-1-9{margin-left:11.1%}.push-1-10{margin-left:10%}.push-1-11{margin-left:9.09%}.push-1-12{margin-left:8.33%}@media handheld,only screen and (max-width:767px){.grid{width:100%;min-width:0;margin-left:0;margin-right:0;padding-left:20px;padding-right:20px}[class*=col-]{width:auto;float:none;margin:10px 0;padding-left:0;padding-right:10px}[class*=col-] [class*=col-]{padding-right:0}[class*=mobile-col-]{float:left;margin:0 0 10px;padding-left:0;padding-right:10px;padding-bottom:0}.mobile-col-1-1{width:100%}.mobile-col-2-3,.mobile-col-8-12{width:66.66%}.mobile-col-1-2,.mobile-col-6-12{width:50%}.mobile-col-1-3,.mobile-col-4-12{width:33.33%}.mobile-col-1-4,.mobile-col-3-12{width:25%}.mobile-col-1-5{width:20%}.mobile-col-1-6,.mobile-col-2-12{width:16.667%}.mobile-col-1-7{width:14.28%}.mobile-col-1-8{width:12.5%}.mobile-col-1-9{width:11.1%}.mobile-col-1-10{width:10%}.mobile-col-1-11{width:9.09%}.mobile-col-1-12{width:8.33%}.mobile-col-11-12{width:91.66%}.mobile-col-10-12{width:83.333%}.mobile-col-9-12{width:75%}.mobile-col-5-12{width:41.66%}.mobile-col-7-12{width:58.33%}.hide-on-mobile{display:none!important;width:0;height:0}}
        </style>
      </head>



<body>

  
  <div class="container">
    <div class="card">
      <div class="card-block">
        <div class="col-1-1">
          <div class="col-11-12" style="font-size: 25px;">
              Contract
            </div>
            <div class="col-1-12">
              <apex:commandButton action="{!save}" value="SAVE" styleClass="btn btn-primary"/>
            </div>
        </div>
        <h3 class="card-title"></h3>
        <h6 class="card-subtitle mb-2 text-muted">
          <apex:outputField value="{!naContract.ContractNumber}"/>
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">
          <apex:outputLink value="/{!houseOpportunity.Id}">Opportunity</apex:outputLink>
        </h6>
      </div>
    </div>

      <ul class="nav nav-tabs" id="myTab" style="padding-top:10px;">
        <li class="active" style="cursor: pointer;"><a data-target="#home" data-toggle="tab">Contract Details</a></li>
        <li style="cursor: pointer;"><a data-target="#profile" data-toggle="tab">Room Details</a></li>
      </ul>
      
      <div style="color:red;">
      <apex:pageMessages id="msgs"/>
      </div>
      <div class="tab-content">
        <div class="tab-pane active" id="home">

              <div class="panel-group" id="accordion in" style="padding-top:20px;">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title" style="font-size:14px;">
                        <a data-toggle="collapse" data-parent="#accordion" href="#plan-details">Plan Details</a>
                      </h4>
                    </div>
                    <div id="plan-details" class="panel-collapse collapse">
                      <div class="panel-body">
                        <div class="col-1-4">
                          <label>
                            <abbr class="slds-required" style="color:red;" >*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Rental_Plan__c.Label}" />
                          </label>
                          <apex:pageblock rendered="{!!readOnly}">
                            <apex:inputfield value="{!naContract.Rental_Plan__c}" styleClass="slds-select">
                              <apex:actionSupport event="onchange" reRender="rentalPlanSection"/>
                            </apex:inputfield>
                          </apex:pageblock>
                          <apex:pageblock rendered="{!readOnly}">
                            <input type="textbox" disabled="{!readOnly}" value="{!naContract.Rental_Plan__c}" class="form-control"/>
                          </apex:pageblock>
                        </div>

                        <apex:outputPanel id="rentalPlanSection">
                          <apex:pageblock rendered="{!IF(naContract.Rental_Plan__c = 'Revenue Share' ,true,false)}">
                            <div class="col-1-4">
                              <label >
                                <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Monthly_Rental_Commission__c.Label}" />
                              </label>

                              <apex:pageblock rendered="{!!readOnly}">
                                <apex:inputfield value="{!naContract.Monthly_Rental_Commission__c}" styleClass="form-control slds-select"/>
                              </apex:pageblock>
                              <apex:pageblock rendered="{!readOnly}">
                                <apex:inputfield html-disabled="true" value="{!naContract.Monthly_Rental_Commission__c}" styleClass="form-control slds-select"/>
                              </apex:pageblock>
                              
                            </div>
                          </apex:pageblock>
                          <apex:pageBlock rendered="{!IF(naContract.Rental_Plan__c = 'Fixed Rent' ,true,false)}">
                            <div class="col-1-4">
                              <label >
                                <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Fixed_Monthly_Rent__c.Label}" />
                              </label>
                              <apex:pageblock rendered="{!!readOnly}">
                                <apex:inputfield value="{!naContract.Fixed_Monthly_Rent__c}" styleClass="form-control slds-select"/>
                              </apex:pageblock>
                              <apex:pageblock rendered="{!readOnly}">
                                <apex:inputfield html-disabled="true" value="{!naContract.Fixed_Monthly_Rent__c}" styleClass="form-control slds-select"/>
                              </apex:pageblock>
                            </div>
                          </apex:pageBlock>
                        </apex:outputPanel>

                        <div class="col-1-4">
                          <label >
                            <abbr class="slds-required"  style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Annual_Rental_Increase__c.Label}" />
                          </label>
                          <apex:pageblock rendered="{!!readOnly}">
                            <apex:inputfield value="{!naContract.Annual_Rental_Increase__c}" styleClass="form-control slds-input"/>
                          </apex:pageblock>
                          <apex:pageblock rendered="{!readOnly}">
                            <apex:inputfield html-disabled="true" value="{!naContract.Annual_Rental_Increase__c}" styleClass="form-control slds-input"/>
                          </apex:pageblock>
                        </div>
                        <div class="col-1-4">
                          <label >
                            <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Fixed_Rent_Start_Date__c.Label}" />
                          </label>
                          <apex:inputfield value="{!naContract.Fixed_Rent_Start_Date__c}" styleClass="form-control date-picker-popup"/>
                        </div>

                      </div>
                      <br></br>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title" style="font-size:14px;">
                        <a data-toggle="collapse" data-parent="#accordion" href="#mg-details">Minimum Guarantee Details</a>
                      </h4>
                    </div>
                    <div id="mg-details" class="panel-collapse collapse" aria-expanded="false">
                      <div class="panel-body">
                        <div class="col-1-4">
                          <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Is_MG_Applicable__c.Label}" />
                          <apex:pageblock rendered="{!!readOnly}">
                            <apex:inputfield value="{!naContract.Is_MG_Applicable__c}" styleClass="slds-select">
                                <apex:actionSupport event="onclick"  reRender="mgSection" onSubmit=""/>

                            </apex:inputfield>
                          </apex:pageblock>
                          <apex:pageblock rendered="{!readOnly}">
                            <input type="textbox" disabled="{!readOnly}" value="{!naContract.Is_MG_Applicable__c}" class="form-control"/>
                          </apex:pageblock>
                        </div>
                        <div class="col-1-4">
                          <apex:outputPanel id="mgSectionStartDateLabels">
                            <apex:pageblock rendered="{!IF(naContract.Is_MG_Applicable__c = 'Yes' ,true,false)}">
                              <abbr class="slds-required" style="color:red;">*</abbr>
                              <apex:outputLabel value="{!$ObjectType.contract.fields.MG_Start_Date__c.Label}" />
                            </apex:pageblock>
                            <apex:pageblock rendered="{!IF(naContract.Is_MG_Applicable__c != 'Yes' ,true,false)}">
                              <apex:outputLabel value="{!$ObjectType.contract.fields.MG_Start_Date__c.Label}" />
                            </apex:pageblock>
                          </apex:outputPanel>

                          <apex:pageblock rendered="{!!readOnly}">
                            <apex:inputfield value="{!naContract.MG_Start_Date__c}" styleClass="form-control date-picker-popup-any-day"/>
                          </apex:pageblock>
                          <apex:pageblock rendered="{!readOnly}">
                            <apex:inputfield html-disabled="{!readOnly}" value="{!naContract.MG_Start_Date__c}" styleClass="form-control select-input"/>
                          </apex:pageblock>
                        </div>
                        <div class="col-1-4">
                          <apex:outputPanel id="mgSectionEndDateLabels">
                            <apex:pageblock rendered="{!IF(naContract.Is_MG_Applicable__c = 'Yes' ,true,false)}">
                              <abbr class="slds-required" style="color:red;">*</abbr>
                              <apex:outputLabel value="{!$ObjectType.contract.fields.MG_End_Date__c.Label}" />
                            </apex:pageblock>
                            <apex:pageblock rendered="{!IF(naContract.Is_MG_Applicable__c != 'Yes' ,true,false)}">
                              <apex:outputLabel value="{!$ObjectType.contract.fields.MG_End_Date__c.Label}" />
                            </apex:pageblock>
                          </apex:outputPanel>

                          <apex:pageblock rendered="{!!readOnly}">
                            <apex:inputfield value="{!naContract.MG_End_Date__c}" styleClass="form-control date-picker-popup-any-day"/>
                          </apex:pageblock>
                          <apex:pageblock rendered="{!readOnly}">
                            <apex:inputfield html-disabled="{!readOnly}" value="{!naContract.MG_End_Date__c}" styleClass="form-control select-input"/>
                          </apex:pageblock>
                        </div>

                        <apex:outputPanel id="mgSection">
                          <apex:pageblock rendered="{!IF(naContract.Is_MG_Applicable__c = 'Yes' ,true,false)}">
                            <div class="col-1-1">
                              <div class="col-1-4">
                                <label >
                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.MG_Applicable__c.Label}" />
                                </label>
                                <apex:pageblock rendered="{!!readOnly}">
                                  <apex:inputfield value="{!naContract.MG_Applicable__c}" styleClass="slds-select"/>
                                </apex:pageblock>
                                <apex:pageblock rendered="{!readOnly}">
                                  <input type="textbox" disabled="{!readOnly}" value="{!naContract.MG_Applicable__c}" class="form-control"/>
                                </apex:pageblock>
                              </div>

                              <div class="col-1-4">
                                <label >
                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.MG_Payout_Frequency__c.Label}" />
                                </label>
                                <apex:pageblock rendered="{!!readOnly}">
                                  <apex:inputfield value="{!naContract.MG_Payout_Frequency__c}" styleClass="slds-select"/>
                                </apex:pageblock>
                                <apex:pageblock rendered="{!readOnly}">
                                  <input type="textbox" disabled="{!readOnly}" value="{!naContract.MG_Payout_Frequency__c}" class="form-control"/>
                                </apex:pageblock>
                              </div>
                              <div class="col-1-4">
                                <label >
                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.MG_Amount__c.Label}" />
                                </label>

                                <apex:pageblock rendered="{!!readOnly}">
                                  <apex:inputfield value="{!naContract.MG_Amount__c}" styleClass="form-control slds-select"/>
                                </apex:pageblock>
                                <apex:pageblock rendered="{!readOnly}">
                                  <apex:inputfield html-disabled="true" value="{!naContract.MG_Amount__c}" styleClass="form-control slds-select"/>
                                </apex:pageblock>
                              </div>
                            </div>

                            <div class="col-1-1" style="padding-top: 20px;">
                              <div class="col-1-4">
                                <label >
                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.MG_Valid_Until__c.Label}" />
                                </label>
                                <apex:pageblock rendered="{!!readOnly}">
                                  <apex:inputfield value="{!naContract.MG_Valid_Until__c}" styleClass="slds-select">
                                    
                                  </apex:inputfield>
                                </apex:pageblock>
                                <apex:pageblock rendered="{!readOnly}">
                                  <input type="textbox" disabled="{!readOnly}" value="{!naContract.MG_Valid_Until__c}" class="form-control"/>
                                </apex:pageblock>
                              </div>
                            </div>
                          </apex:pageblock>
                        </apex:outputPanel>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title" style="font-size:14px;">
                        <a data-toggle="collapse" data-parent="#accordion" href="#booking-details">Booking Details</a>
                      </h4>
                    </div>
                    <div id="booking-details" class="panel-collapse collapse" aria-expanded="false">
                      <div class="panel-body">
                        <div class="col-1-4">
                          <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Booking_Type__c.Label}" />
                          <apex:pageblock rendered="{!!readOnly}">
                            <apex:inputfield value="{!naContract.Booking_Type__c}" styleClass="slds-select"/>
                          </apex:pageblock>
                          <apex:pageblock rendered="{!readOnly}">
                            <input type="textbox" disabled="{!readOnly}" value="{!naContract.Booking_Type__c}" class="form-control"/>
                          </apex:pageblock>
                        </div>

                        <div class="col-1-4">
                          <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Tenancy_Type__c.Label}" />
                          <apex:pageblock rendered="{!!readOnly}">
                            <apex:inputfield value="{!naContract.Tenancy_Type__c}" styleClass="slds-select"/>
                          </apex:pageblock>
                          <apex:pageblock rendered="{!readOnly}">
                            <input type="textbox" disabled="{!readOnly}" value="{!naContract.Tenancy_Type__c}" class="form-control"/>
                          </apex:pageblock>
                        </div>

                        <div class="col-1-4">
                          <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Base_House_Rent__c.Label}" />
                          <apex:pageblock rendered="{!!readOnly}">
                            <apex:inputfield value="{!naContract.Base_House_Rent__c}" styleClass="form-control slds-select"/>
                          </apex:pageblock>
                          <apex:pageblock rendered="{!readOnly}">
                            <apex:inputfield html-disabled="true" value="{!naContract.Base_House_Rent__c}" styleClass="form-control slds-select"/>
                          </apex:pageblock>
                        </div>

                        <div class="col-1-1" style="padding-top:20px;">
                          <apex:inputCheckbox value="{!naContract.Onboarded_With_Existing_Tenats__c}" styleClass="slds-checkbox" disabled="{!readOnly}"/>
                          <apex:outputLabel style="padding-left:6px;" value="{!$ObjectType.contract.fields.Onboarded_With_Existing_Tenats__c.Label}" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title" style="font-size:14px;">
                        <a data-toggle="collapse" data-parent="#accordion" href="#deposit-related-details">Deposit Related Details</a>
                      </h4>
                    </div>
                    <div id="deposit-related-details" class="panel-collapse collapse" aria-expanded="false">
                      <div class="panel-body">
                        <div class="col-1-4">
                          <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Who_pays_Deposit__c.Label}" />
                          <apex:pageblock rendered="{!!readOnly}">
                          <apex:inputfield value="{!naContract.Who_pays_Deposit__c}" styleClass="slds-select">
                            <apex:actionSupport event="onchange" reRender="whoPaysDepositSection"/>
                          </apex:inputfield>
                        </apex:pageblock>
                        <apex:pageblock rendered="{!readOnly}">
                          <input type="textbox" disabled="{!readOnly}" value="{!naContract.Who_pays_Deposit__c}" class="form-control"/>
                        </apex:pageblock>
                        </div>

                        <div class="col-1-4">
                          <label >
                            <apex:outputLabel value="{!$ObjectType.contract.fields.Deposit_Payment_Date__c.Label}" />
                          </label>
                          <apex:pageblock rendered="{!!readOnly}">
                            <apex:inputfield value="{!naContract.Deposit_Payment_Date__c}" styleClass="form-control date-picker-popup"/>
                          </apex:pageblock>
                          <apex:pageblock rendered="{!readOnly}">
                            <apex:inputfield html-disabled="true" value="{!naContract.Deposit_Payment_Date__c}" styleClass="form-control slds-select"/>
                          </apex:pageblock>
                        </div>

                        <apex:outputPanel id="whoPaysDepositSection">
                          <apex:pageblock rendered="{!IF(naContract.Who_pays_Deposit__c = 'NestAway' ,true,false)}">
                            <div class="col-1-1" style="padding-top:10px;">
                              <div class="col-2-4">
                                <label >
                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Deposit_Amount_Equivalent_to__c.Label}" />
                                </label>
                                <apex:pageblock rendered="{!!readOnly}">
                                  <apex:inputfield value="{!naContract.Deposit_Amount_Equivalent_to__c}" styleClass="slds-select"/>
                                </apex:pageblock>
                                <apex:pageblock rendered="{!readOnly}">
                                  <input type="textbox" disabled="{!readOnly}" value="{!naContract.Deposit_Amount_Equivalent_to__c}" class="form-control"/>
                                </apex:pageblock>
                              </div>

                              <div class="col-1-4">
                                <label >
                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.SD_Upfront_Amount__c.Label}" />
                                </label>
                                <apex:pageblock rendered="{!!readOnly}">
                                  <apex:inputfield value="{!naContract.SD_Upfront_Amount__c}" styleClass="form-control slds-select"/>
                                </apex:pageblock>
                                <apex:pageblock rendered="{!readOnly}">
                                  <input type="textbox" disabled="{!readOnly}" value="{!naContract.SD_Upfront_Amount__c}" class="form-control"/>
                                </apex:pageblock>
                              </div>
                              <div class="col-1-4">
                                <label >
                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Security_Deposit_Payment_Mode__c.Label}" />
                                </label>

                                <apex:pageblock rendered="{!!readOnly}">
                                <apex:inputfield value="{!naContract.Security_Deposit_Payment_Mode__c}" styleClass="slds-select">
                                  <apex:actionSupport event="onchange" reRender="securityDepositPaymentModeSection"/>
                                </apex:inputfield>
                              </apex:pageblock>
                              <apex:pageblock rendered="{!readOnly}">
                                <input type="textbox" disabled="{!readOnly}" value="{!naContract.Security_Deposit_Payment_Mode__c}" class="form-control"/>
                              </apex:pageblock>
                              </div>
                            </div>
                            <div class="col-1-1" style="padding-top:20px;">
                                <div class="col-1-4">

                                <label >
                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Maximum_SD_Amount__c.Label}" />
                                </label>
                                <apex:pageblock rendered="{!!readOnly}">
                                  <apex:inputfield value="{!naContract.Maximum_SD_Amount__c}" styleClass="form-control slds-select"/>
                                </apex:pageblock>
                                <apex:pageblock rendered="{!readOnly}">
                                  <apex:inputfield html-disabled="true" value="{!naContract.Maximum_SD_Amount__c}" styleClass="form-control slds-select"/>
                                </apex:pageblock>
                              </div>
                              <apex:outputPanel id="securityDepositPaymentModeSection">
                                <apex:pageblock rendered="{!IF(naContract.Security_Deposit_Payment_Mode__c = 'Cheque' ,true,false)}">
                                  <div class="col-1-4">
                                    <label >
                                      <apex:outputLabel value="{!$ObjectType.contract.fields.Security_Deposit_Payment_Details__c.Label}" />
                                    </label>

                                    <apex:pageblock rendered="{!!readOnly}">
                                    <apex:inputfield value="{!naContract.Security_Deposit_Payment_Details__c}" styleClass="form-control slds-select"/>
                                  </apex:pageblock>
                                  <apex:pageblock rendered="{!readOnly}">
                                    <apex:inputfield html-disabled="true" value="{!naContract.Security_Deposit_Payment_Details__c}" styleClass="form-control slds-input"/>
                                  </apex:pageblock>
                                  </div>
                                </apex:pageblock>
                              </apex:outputPanel>
                            </div>
                          </apex:pageblock>
                        </apex:outputPanel>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title" style="font-size:14px;">
                        <a data-toggle="collapse" data-parent="#accordion" href="#tenancy-details">Tenancy Details</a>
                      </h4>
                    </div>
                    <div id="tenancy-details" class="panel-collapse collapse" aria-expanded="false">
                      <div class="panel-body">
                        <div class="col-1-4">
                          <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Number_of_Bedrooms__c.Label}" />
                          <apex:inputfield html-disabled="true" value="{!naContract.Number_of_Bedrooms__c}" styleClass="form-control"/>
                        </div>

                        <div class="col-1-4">
                          <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Number_of_Bathrooms__c.Label}" />
                          <apex:inputfield html-disabled="true" value="{!naContract.Number_of_Bathrooms__c}" styleClass="form-control"/>
                        </div>
                        <div class="col-1-1" style="padding-top:25px;">
                          <div class="col-1-4">
                            <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Maximum_number_of_tenants_allowed__c.Label}" />
                            <apex:pageblock rendered="{!!readOnly}">
                              <apex:inputfield value="{!naContract.Maximum_number_of_tenants_allowed__c}" styleClass="form-control slds-select"/>
                            </apex:pageblock>
                            <apex:pageblock rendered="{!readOnly}">
                              <apex:inputfield html-disabled="true" value="{!naContract.Maximum_number_of_tenants_allowed__c}" styleClass="form-control slds-select"/>
                            </apex:pageblock>
                          </div>

                          <div class="col-1-4">
                            <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Tenancy_Approval_time_period__c.Label}" />
                            <apex:pageblock rendered="{!!readOnly}">
                              <apex:inputfield value="{!naContract.Tenancy_Approval_time_period__c}" styleClass="slds-select"/>
                            </apex:pageblock>
                            <apex:pageblock rendered="{!readOnly}">
                              <input type="textbox" disabled="{!readOnly}" value="{!naContract.Tenancy_Approval_time_period__c}" class="form-control"/>
                            </apex:pageblock>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title" style="font-size:14px;">
                        <a data-toggle="collapse" data-parent="#accordion" href="#utility-related-details">Utility Related Details</a>
                      </h4>
                    </div>
                    <div id="utility-related-details" class="panel-collapse collapse" aria-expanded="false">
                      <div class="panel-body">
                        <div class="col-1-4">
                          <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Who_pays_Move_in_Charges__c.Label}" />
                          <apex:pageblock rendered="{!!readOnly}">
                            <apex:inputfield value="{!naContract.Who_pays_Move_in_Charges__c}" styleClass="form-control slds-select"/>
                          </apex:pageblock>
                          <apex:pageblock rendered="{!readOnly}">
                            <apex:inputfield html-disabled="true" value="{!naContract.Who_pays_Move_in_Charges__c}" styleClass="form-control slds-select"/>
                          </apex:pageblock>
                        </div>

                        <div class="col-1-4">
                          <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Who_pays_DTH__c.Label}" />
                          <apex:pageblock rendered="{!!readOnly}">
                            <apex:inputfield value="{!naContract.Who_pays_DTH__c}" styleClass="form-control slds-select"/>
                          </apex:pageblock>
                          <apex:pageblock rendered="{!readOnly}">
                            <apex:inputfield html-disabled="true" value="{!naContract.Who_pays_DTH__c}" styleClass="form-control slds-select"/>
                          </apex:pageblock>
                        </div>

                        <div class="col-1-4">
                          <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Who_pays_Society_Maintenance__c.Label}" />
                          <apex:pageblock rendered="{!!readOnly}">
                            <apex:inputfield value="{!naContract.Who_pays_Society_Maintenance__c}" styleClass="form-control slds-select"/>
                          </apex:pageblock>
                          <apex:pageblock rendered="{!readOnly}">
                            <apex:inputfield html-disabled="true" value="{!naContract.Who_pays_Society_Maintenance__c}" styleClass="form-control slds-select"/>
                          </apex:pageblock>

                        </div>
                        <div class="col-1-1" style="padding-top:25px;">
                          <div class="col-1-4">
                            <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Who_pays_Water_Bill__c.Label}" />
                            <apex:pageblock rendered="{!!readOnly}">
                            <apex:inputfield value="{!naContract.Who_pays_Water_Bill__c}" styleClass="form-control slds-select"/>
                          </apex:pageblock>
                          <apex:pageblock rendered="{!readOnly}">
                            <apex:inputfield html-disabled="true" value="{!naContract.Who_pays_Water_Bill__c}" styleClass="form-control slds-select"/>
                          </apex:pageblock>
                          </div>

                          <div class="col-1-4">
                            <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Who_pays_Electricity_Bill__c.Label}" />
                            <apex:pageblock rendered="{!!readOnly}">
                              <apex:inputfield value="{!naContract.Who_pays_Electricity_Bill__c}" styleClass="form-control slds-select"/>
                            </apex:pageblock>
                            <apex:pageblock rendered="{!readOnly}">
                              <apex:inputfield html-disabled="true" value="{!naContract.Who_pays_Electricity_Bill__c}" styleClass="form-control slds-select"/>
                            </apex:pageblock>
                          </div>

                          <div class="col-1-4">
                            <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Who_pays_for_Internet__c.Label}" />
                            <apex:pageblock rendered="{!!readOnly}">
                              <apex:inputfield value="{!naContract.Who_pays_for_Internet__c}" styleClass="form-control slds-select"/>
                            </apex:pageblock>
                            <apex:pageblock rendered="{!readOnly}">
                              <apex:inputfield html-disabled="true" value="{!naContract.Who_pays_for_Internet__c}" styleClass="form-control slds-select"/>
                            </apex:pageblock>

                          </div>
                        </div>
                        <div class="col-1-1" style="padding-top:25px;">
                          <div class="col-1-4">
                            <apex:outputLabel value="{!$ObjectType.contract.fields.Who_pays_Common_Area_Charges__c.Label}" />
                            <apex:pageblock rendered="{!!readOnly}">
                              <apex:inputfield value="{!naContract.Who_pays_Common_Area_Charges__c}" styleClass="form-control slds-select"/>
                            </apex:pageblock>
                            <apex:pageblock rendered="{!readOnly}">
                              <apex:inputfield html-disabled="true" value="{!naContract.Who_pays_Common_Area_Charges__c}" styleClass="form-control slds-select"/>
                            </apex:pageblock>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title" style="font-size:14px;">
                        <a data-toggle="collapse" data-parent="#accordion" href="#furnishing-details">Furnishing Details</a>
                      </h4>
                    </div>
                    <div id="furnishing-details" class="panel-collapse collapse" aria-expanded="false">
                      <div class="panel-body">
                        <div class="col-1-4">
                          <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Furnishing_Type__c.Label}" />
                          <apex:pageblock rendered="{!!readOnly}">
                                <apex:inputfield value="{!naContract.Furnishing_Type__c}" styleClass="slds-select">
                                  <apex:actionSupport event="onchange" reRender="furnishingDetailsSection"/>
                                </apex:inputfield>
                              </apex:pageblock>
                              <apex:pageblock rendered="{!readOnly}">
                                <input type="textbox" disabled="{!readOnly}" value="{!naContract.Furnishing_Type__c}" class="form-control"/>
                              </apex:pageblock>

                        </div>
                        <apex:outputPanel id="furnishingDetailsSection">
                          <apex:pageblock rendered="{!IF(OR(naContract.Furnishing_Type__c = 'Fully Furnished', naContract.Furnishing_Type__c = 'Semi-furnished') ,true,false)}">
                            <div class="col-1-4">
                                <label >
                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Furnishing_Plan__c.Label}" />
                                </label>
                                <apex:pageblock rendered="{!!readOnly}">
                                  <apex:inputfield value="{!naContract.Furnishing_Plan__c}" styleClass="slds-select">
                                    <apex:actionSupport event="onchange" reRender="furnishingPlanDetailsSection"/>
                                  </apex:inputfield>
                                </apex:pageblock>
                                <apex:pageblock rendered="{!readOnly}">
                                  <input type="textbox" disabled="{!readOnly}" value="{!naContract.Furnishing_Plan__c}" class="form-control"/>
                                </apex:pageblock>
                              </div>

                              <apex:outputPanel id="furnishingPlanDetailsSection">
                                  <apex:pageblock rendered="{!IF(OR(naContract.Furnishing_Plan__c = 'NestAway furnished', naContract.Furnishing_Plan__c = 'NestAway Rental Package', naContract.Furnishing_Plan__c = 'Owner furnished NestAway provided') ,true,false)}">
                                      <div class="col-1-4">
                                          <label >
                                            <apex:outputLabel value="{!$ObjectType.contract.fields.Furnishing_Package__c.Label}" />
                                          </label>
                                          <apex:pageblock rendered="{!!readOnly}">
                                            <apex:inputfield value="{!naContract.Furnishing_Package__c}" styleClass="slds-select"/>
                                          </apex:pageblock>
                                          <apex:pageblock rendered="{!readOnly}">
                                            <input type="textbox" disabled="{!readOnly}" value="{!naContract.Furnishing_Package__c}" class="form-control"/>
                                          </apex:pageblock>

                                      </div>
                                    </apex:pageblock>

                                    <apex:pageblock rendered="{!IF(OR(naContract.Furnishing_Plan__c = 'NestAway furnished', naContract.Furnishing_Plan__c = 'Owner furnished NestAway provided') ,true,false)}">
                                      <div class="col-1-1" style="padding-top:20px;">
                                            <div class="col-1-4">
                                                <label >
                                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Total_furnishing_cost__c.Label}" />
                                                </label>
                                                <apex:pageblock rendered="{!!readOnly}">
                                                  <apex:inputfield value="{!naContract.Total_furnishing_cost__c}" styleClass="form-control slds-select"/>
                                                </apex:pageblock>
                                                <apex:pageblock rendered="{!readOnly}">
                                                  <apex:inputfield html-disabled="true" value="{!naContract.Total_furnishing_cost__c}" styleClass="form-control slds-select"/>
                                                </apex:pageblock>

                                            </div>
                                            <div class="col-1-4">
                                                <label >
                                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Part_of_furnishing_borne_by_owner__c.Label}" />
                                                </label>
                                                <apex:pageblock rendered="{!!readOnly}">
                                                  <apex:inputfield value="{!naContract.Part_of_furnishing_borne_by_owner__c}" styleClass="form-control slds-select"/>
                                                </apex:pageblock>
                                                <apex:pageblock rendered="{!readOnly}">
                                                  <apex:inputfield html-disabled="true" value="{!naContract.Part_of_furnishing_borne_by_owner__c}" styleClass="form-control slds-select"/>
                                                </apex:pageblock>

                                            </div>
                                      </div>
                                      <div class="col-1-1" style="padding-top:20px;">
                                            <div class="col-1-4">
                                                <label >
                                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Furnishing_Vendor_Name__c.Label}" />
                                                </label>
                                                <apex:pageblock rendered="{!!readOnly}">
                                                  <apex:inputfield value="{!naContract.Furnishing_Vendor_Name__c}" styleClass="form-control slds-select"/>
                                                </apex:pageblock>
                                                <apex:pageblock rendered="{!readOnly}">
                                                  <apex:inputfield html-disabled="true" value="{!naContract.Furnishing_Vendor_Name__c}" styleClass="form-control slds-select"/>
                                                </apex:pageblock>

                                            </div>
                                            <div class="col-3-12">
                                                <label >
                                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Part_of_furnishing_borne_by_NestAway__c.Label}" />
                                                </label>
                                                <apex:pageblock rendered="{!!readOnly}">
                                                  <apex:inputfield value="{!naContract.Part_of_furnishing_borne_by_NestAway__c}" styleClass="form-control slds-select"/>
                                                </apex:pageblock>
                                                <apex:pageblock rendered="{!readOnly}">
                                                  <apex:inputfield html-disabled="true" value="{!naContract.Part_of_furnishing_borne_by_NestAway__c}" styleClass="form-control slds-select"/>
                                                </apex:pageblock>
                                            </div>
                                      </div>
                                    </apex:pageblock>
                                    <apex:pageblock rendered="{!IF(OR(naContract.Furnishing_Plan__c = 'NestAway Rental Package') ,true,false)}">
                                      <div class="col-1-1" style="padding-top:20px;">
                                            <div class="col-1-4">
                                                <label >
                                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Furnishing_Vendor_Name__c.Label}" />
                                                </label>
                                                <apex:pageblock rendered="{!!readOnly}">
                                                  <apex:inputfield value="{!naContract.Furnishing_Vendor_Name__c}" styleClass="form-control slds-select"/>
                                                </apex:pageblock>
                                                <apex:pageblock rendered="{!readOnly}">
                                                  <apex:inputfield html-disabled="true" value="{!naContract.Furnishing_Vendor_Name__c}" styleClass="form-control slds-select"/>
                                                </apex:pageblock>
                                            </div>
                                            <div class="col-3-12">
                                                <label >
                                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Furnishing_Commission_Percentage__c.Label}" />
                                                </label>
                                                <apex:pageblock rendered="{!!readOnly}">
                                                  <apex:inputfield value="{!naContract.Furnishing_Commission_Percentage__c}" styleClass="form-control slds-select"/>
                                                </apex:pageblock>
                                                <apex:pageblock rendered="{!readOnly}">
                                                  <apex:inputfield html-disabled="true" value="{!naContract.Furnishing_Commission_Percentage__c}" styleClass="form-control slds-select"/>
                                                </apex:pageblock>

                                            </div>
                                      </div>
                                    </apex:pageblock>

                                    <apex:pageblock rendered="{!IF(OR(naContract.Furnishing_Plan__c = 'Owner furnished NestAway provided') ,true,false)}" >
                                      
                                      <div class="col-2-4" style="padding-top:20px;">
                                          <h4><u>Furnishing Buyback Detail</u></h4>
                                          </div>

                                      <div class="col-1-1">



                                            <div class="col-3-12" style="padding-top:10px;">
                                        <apex:outputLabel value="{!$ObjectType.contract.fields.Furniture_Buyback_Option_Available__c.Label}" />
                                        <apex:pageblock rendered="{!!readOnly}">
                                          <apex:inputfield value="{!naContract.Furniture_Buyback_Option_Available__c}" styleClass="slds-select">
                                            <apex:actionSupport event="onchange" reRender="furnitureBuybackOptionAvailableSection"/>
                                          </apex:inputfield>
                                        </apex:pageblock>
                                        <apex:pageblock rendered="{!readOnly}">
                                          <input type="textbox" disabled="{!readOnly}" value="{!naContract.Furniture_Buyback_Option_Available__c}" class="form-control"/>
                                        </apex:pageblock>
                                      </div>

                                      <apex:outputPanel id="furnitureBuybackOptionAvailableSection">
                                          <apex:pageblock rendered="{!IF(naContract.Furniture_Buyback_Option_Available__c = 'Yes' ,true,false)}">

                                          <div class="col-3-12" style="padding-top:10px;">
                                            <label >
                                              <apex:outputLabel value="{!$ObjectType.contract.fields.Furniture_Buyback_Percentage__c.Label}" />
                                            </label>
                                            <apex:pageblock rendered="{!!readOnly}">
                                              <apex:inputfield value="{!naContract.Furniture_Buyback_Percentage__c}" styleClass="form-control slds-select"/>
                                            </apex:pageblock>
                                            <apex:pageblock rendered="{!readOnly}">
                                              <apex:inputfield html-disabled="true" value="{!naContract.Furniture_Buyback_Percentage__c}" styleClass="form-control slds-select"/>
                                            </apex:pageblock>
                                          </div>

                                          <div class="col-1-4" style="padding-top:10px;">
                                            <label >
                                              <apex:outputLabel value="{!$ObjectType.contract.fields.Furniture_Buyback_duration__c.Label}" />
                                            </label>
                                            <apex:pageblock rendered="{!!readOnly}">
                                              <apex:inputfield value="{!naContract.Furniture_Buyback_duration__c}" styleClass="form-control slds-select"/>
                                            </apex:pageblock>
                                            <apex:pageblock rendered="{!readOnly}">
                                              <apex:inputfield html-disabled="true" value="{!naContract.Furniture_Buyback_duration__c}" styleClass="form-control slds-select"/>
                                            </apex:pageblock>
                                        </div>
                                      </apex:pageblock>
                                    </apex:outputPanel>
                                      </div>

                                </apex:pageblock>
                             </apex:outputPanel>

                          </apex:pageblock>
                        </apex:outputPanel>
                      </div>
                    </div>
                  </div>
                 
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title" style="font-size:14px;">
                        <a data-toggle="collapse" data-parent="#accordion" href="#agreement-details">Agreement Detail</a>
                      </h4>
                    </div>
                    <div id="agreement-details" class="panel-collapse collapse" aria-expanded="false">
                      <div class="panel-body">

                        <div class="col-1-4">
                          <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Name__c.Label}" />
                          <apex:pageblock rendered="{!!agreementReadOnly}">
                            <apex:inputfield value="{!naContract.Name__c}" styleClass="form-control slds-select"/>
                          </apex:pageblock>
                          <apex:pageblock rendered="{!agreementReadOnly}">
                            <apex:inputfield html-disabled="true" value="{!naContract.Name__c}" styleClass="form-control slds-select"/>
                          </apex:pageblock>

                        </div>

                        <div class="col-1-4">
                          <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Marital_Status__c.Label}" />
                          <apex:pageblock rendered="{!!agreementReadOnly}">
                            <apex:inputfield value="{!naContract.Marital_Status__c}" styleClass="slds-select"/>
                          </apex:pageblock>
                          <apex:pageblock rendered="{!agreementReadOnly}">
                            <input type="textbox" disabled="true" value="{!naContract.Marital_Status__c}" class="form-control"/>
                          </apex:pageblock>

                        </div>

                        <div class="col-1-4">
                          <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Date_Of_Birth__c.Label}" />
                          <apex:pageblock rendered="{!!agreementReadOnly}">
                            <apex:inputfield value="{!naContract.Date_Of_Birth__c}" styleClass="form-control date-picker-popup-dob"/>
                          </apex:pageblock>
                          <apex:pageblock rendered="{!agreementReadOnly}">
                            <apex:inputfield html-disabled="true" value="{!naContract.Date_Of_Birth__c}" styleClass="form-control slds-select"/>
                          </apex:pageblock>

                        </div>

                        <div class="col-1-1">
                            <div class="col-1-4">
                              <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Service_Agreement_Making_Date__c.Label}" />
                              <apex:pageblock rendered="{!!agreementReadOnly}">
                              <apex:inputfield value="{!naContract.Service_Agreement_Making_Date__c}" styleClass="form-control date-picker-popup"/>
                            </apex:pageblock>
                            <apex:pageblock rendered="{!agreementReadOnly}">
                              <apex:inputfield html-disabled="true" value="{!naContract.Service_Agreement_Making_Date__c}" styleClass="form-control slds-select"/>
                            </apex:pageblock>
                            </div>

                            <div class="col-1-4">
                              <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Father_Husband_Name__c.Label}" />
                              <apex:pageblock rendered="{!!agreementReadOnly}">
                                <apex:inputfield value="{!naContract.Father_Husband_Name__c}" styleClass="form-control slds-select"/>
                              </apex:pageblock>
                              <apex:pageblock rendered="{!agreementReadOnly}">
                                <apex:inputfield html-disabled="true" value="{!naContract.Father_Husband_Name__c}" styleClass="form-control slds-select"/>
                              </apex:pageblock>

                            </div>

                            <div class="col-1-4">
                              <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Relation_with_Guardian__c.Label}" />
                              <apex:pageblock rendered="{!!agreementReadOnly}">
                                <apex:inputfield value="{!naContract.Relation_with_Guardian__c}" styleClass="slds-select"/>
                              </apex:pageblock>
                              <apex:pageblock rendered="{!agreementReadOnly}">
                                <input type="textbox" disabled="{!readOnly}" value="{!naContract.Relation_with_Guardian__c}" class="form-control"/>
                              </apex:pageblock>
                            </div>
                        </div>
                        <div class="col-1-1">
                            <div class="col-1-4">
                              <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Expected_Date_Of_House_Going_Live__c.Label}" />
                              <apex:pageblock rendered="{!!agreementReadOnly}">
                                <apex:inputfield value="{!naContract.Expected_Date_Of_House_Going_Live__c}" styleClass="form-control date-picker-popup"/>
                              </apex:pageblock>
                              <apex:pageblock rendered="{!agreementReadOnly}">
                                <apex:inputfield html-disabled="true" value="{!naContract.Expected_Date_Of_House_Going_Live__c}" styleClass="form-control slds-select"/>
                              </apex:pageblock>
                            </div>

                            <div class="col-1-4">
                              <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Service_Agreement_In_Effect_Date__c.Label}" />
                              <apex:pageblock rendered="{!!agreementReadOnly}">
                                <apex:inputfield value="{!naContract.Service_Agreement_In_Effect_Date__c}" styleClass="form-control date-picker-popup"/>
                              </apex:pageblock>

                              <apex:pageblock rendered="{!agreementReadOnly}">
                                <apex:inputfield html-disabled="true" value="{!naContract.Service_Agreement_In_Effect_Date__c}" styleClass="form-control slds-select"/>
                              </apex:pageblock>

                            </div>

                            <div class="col-1-4">
                              <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Age__c.Label}" />
                              <apex:inputfield value="{!naContract.Age__c}" html-disabled="true" styleClass="form-control slds-select"/>
                            </div>
                        </div>

                        <div class="col-1-1" style="padding-top:20px;">
                          <div class="col-1-4">
                              <apex:inputCheckbox disabled="{!agreementReadOnly}" value="{!naContract.Do_You_Want_To_Add_A_POA__c}" styleClass="slds-input">
                                <apex:actionSupport event="onchange" reRender="DoYouWantToAddPOASection"/>
                              </apex:inputCheckbox>
                              <apex:outputLabel style="padding-left:6px;" value="{!$ObjectType.contract.fields.Do_You_Want_To_Add_A_POA__c.Label}" />
                          </div>

                          <div class="col-1-4">
                              <apex:outputLabel value="{!$ObjectType.contract.fields.POA_Date__c.Label}" />
                              <apex:pageblock rendered="{!!agreementReadOnly}">
                                <apex:inputfield value="{!naContract.POA_Date__c}" styleClass="form-control date-picker-popup"/>
                              </apex:pageblock>
                              <apex:pageblock rendered="{!agreementReadOnly}">
                                <apex:inputfield html-disabled="true" value="{!naContract.POA_Date__c}" styleClass="form-control slds-select"/>
                              </apex:pageblock>
                          </div>
                        </div>

                          <apex:outputPanel id="DoYouWantToAddPOASection">
                            <apex:pageblock rendered="{!IF(naContract.Do_You_Want_To_Add_A_POA__c,true,false)}">
                              <div class="col-1-1" style="padding-top:20px;">
                                <div class="col-1-4">
                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.POA_Name__c.Label}" />
                                  <apex:pageblock rendered="{!!agreementReadOnly}">
                                  <apex:inputfield value="{!naContract.POA_Name__c}" styleClass="form-control slds-select"/>
                                </apex:pageblock>
                                <apex:pageblock rendered="{!agreementReadOnly}">
                                  <apex:inputfield html-disabled="true" value="{!naContract.POA_Name__c}" styleClass="form-control slds-select"/>
                                </apex:pageblock>

                                </div>

                                <div class="col-1-4">
                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.POA_Marital_Status__c.Label}" />
                                  <apex:pageblock rendered="{!!agreementReadOnly}">
                                    <apex:inputfield value="{!naContract.POA_Marital_Status__c}" styleClass="form-control slds-select"/>
                                  </apex:pageblock>
                                  <apex:pageblock rendered="{!agreementReadOnly}">
                                    <apex:inputfield html-disabled="true" value="{!naContract.POA_Marital_Status__c}" styleClass="form-control slds-select"/>
                                  </apex:pageblock>

                                </div>

                                <div class="col-1-4">
                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.POA_Father_Husband_Name__c.Label}" />
                                  <apex:pageblock rendered="{!!agreementReadOnly}">
                                    <apex:inputfield value="{!naContract.POA_Father_Husband_Name__c}" styleClass="form-control slds-select"/>
                                  </apex:pageblock>
                                  <apex:pageblock rendered="{!agreementReadOnly}">
                                    <apex:inputfield html-disabled="true" value="{!naContract.POA_Father_Husband_Name__c}" styleClass="form-control slds-select"/>
                                  </apex:pageblock>
                                </div>
                              </div>
                              <div class="col-1-1" style="padding-top:20px;">
                                <div class="col-1-4">
                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.POA_Relation_with_Guardian__c.Label}" />
                                  <apex:pageblock rendered="{!!agreementReadOnly}">
                                  <apex:inputfield value="{!naContract.POA_Relation_with_Guardian__c}" styleClass="slds-select"/>
                                </apex:pageblock>
                                <apex:pageblock rendered="{!agreementReadOnly}">
                                  <input type="textbox" disabled="true" value="{!naContract.POA_Relation_with_Guardian__c}" class="form-control"/>
                                </apex:pageblock>

                                </div>

                                <div class="col-1-4">
                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.POA_Permanent_Address__c.Label}" />
                                  <apex:pageblock rendered="{!!agreementReadOnly}">
                                  <apex:inputfield value="{!naContract.POA_Permanent_Address__c}" styleClass="form-control slds-select"/>
                                </apex:pageblock>
                                <apex:pageblock rendered="{!agreementReadOnly}">
                                  <apex:inputfield html-disabled="true" value="{!naContract.POA_Permanent_Address__c}" styleClass="form-control slds-select"/>
                                </apex:pageblock>

                                </div>
                                <div class="col-1-4">
                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.POA_Age__c.Label}" />
                                  <apex:pageblock rendered="{!!agreementReadOnly}">
                                  <apex:inputfield value="{!naContract.POA_Age__c}" styleClass="form-control slds-select"/>
                                </apex:pageblock>
                                <apex:pageblock rendered="{!agreementReadOnly}">
                                  <apex:inputfield html-disabled="true" value="{!naContract.POA_Age__c}" styleClass="form-control slds-select"/>
                                </apex:pageblock>

                                </div>
                              </div>
                              <div class="col-1-1" style="padding-top:20px;">
                                <div class="col-1-4">
                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.POA_Witness_Name__c.Label}" />
                                  <apex:pageblock rendered="{!!agreementReadOnly}">
                                  <apex:inputfield value="{!naContract.POA_Witness_Name__c}" styleClass="form-control slds-select"/>
                                </apex:pageblock>
                                <apex:pageblock rendered="{!agreementReadOnly}">
                                  <apex:inputfield html-disabled="true" value="{!naContract.POA_Witness_Name__c}" styleClass="form-control slds-select"/>
                                </apex:pageblock>

                                </div>
                              </div>
                            </apex:pageblock>
                          </apex:outputPanel>
                      </div>
                    </div>
                  </div>

                   <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title" style="font-size:14px;">
                        <a data-toggle="collapse" data-parent="#accordion" href="#other-details">Other Details</a>
                      </h4>
                    </div>
                    <div id="other-details" class="panel-collapse collapse">
                      <div class="panel-body">
                        <div class="col-1-4">
                          <label >
                            <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Number_Of_Common_Bathrooms__c.Label}" />
                          </label>
                          <apex:inputfield html-disabled="true" value="{!naContract.Number_Of_Common_Bathrooms__c}" styleClass="form-control slds-select"/>
                        </div>

                        <div class="col-1-4">
                          <label >
                            <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Number_of_attached_Bathrooms__c.Label}" />
                          </label>
                          <apex:inputfield html-disabled="true"  value="{!naContract.Number_of_attached_Bathrooms__c}" styleClass="form-control slds-select"/>
                        </div>

                        <div class="col-1-4">
                          <label >
                            <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Status.Label}" />
                          </label>
                          <apex:pageblock rendered="{!!readOnly}">
                          <apex:inputfield value="{!naContract.Status}" styleClass="form-control slds-select"/>
                        </apex:pageblock>
                        <apex:pageblock rendered="{!readOnly}">
                          <apex:inputfield html-disabled="true" value="{!naContract.Status}" styleClass="form-control slds-select"/>
                        </apex:pageblock>

                        </div>

                        <div class="col-1-1" style="padding-top:10px;">
                            <div class="col-1-4">
                                <label >
                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.StartDate.Label}" />
                                </label>
                                <apex:inputfield value="{!naContract.StartDate}" styleClass="form-control date-picker-popup-any-day"/>
                              </div>

                            <div class="col-1-4" style="display:none;">
                                <label>
                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.EndDate.Label}" />
                                </label>
                                <apex:pageblock rendered="{!!readOnly}">
                                  <apex:inputfield value="{!naContract.EndDate}" styleClass="form-control date-picker-popup"/>
                                </apex:pageblock>
                                <apex:pageblock rendered="{!readOnly}">
                                  <apex:inputfield html-disabled="true" value="{!naContract.EndDate}" styleClass="form-control slds-select"/>
                                </apex:pageblock>

                              </div>

                              <div class="col-1-4">
                                <label >
                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Approval_Status__c.Label}" />
                                </label>
                                  <apex:inputfield html-disabled="true" value="{!naContract.Approval_Status__c}" styleClass="form-control slds-select"/>
                              </div>

                              <div class="col-1-4">
                                <label >
                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.Agreement_Type__c.Label}" />
                                </label>
                                <apex:pageblock rendered="{!!readOnly}">
                                  <apex:inputfield value="{!naContract.Agreement_Type__c}" styleClass="slds-select"/>
                                </apex:pageblock>
                                <apex:pageblock rendered="{!readOnly}">
                                  <input type="textbox" disabled="{!readOnly}" value="{!naContract.Agreement_Type__c}" class="form-control"/>
                                </apex:pageblock>

                              </div>
                        </div>
                        <div class="col-1-1">
                            <div class="col-1-4" style="display:none;">
                                <label >
                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.contract.fields.ContractTerm.Label}" />
                                </label>
                                <apex:pageblock rendered="{!!readOnly}">
                                  <apex:inputfield value="{!naContract.ContractTerm}" styleClass="form-control slds-select"/>
                                </apex:pageblock>
                                <apex:pageblock rendered="{!readOnly}">
                                  <apex:inputfield html-disabled="true" value="{!naContract.ContractTerm}" styleClass="form-control slds-select"/>
                                </apex:pageblock>

                            </div>
                        </div>
                        <div class="col-1-1" style="padding-top:20px;">
                          <div class="col-1-4">
                            <apex:inputCheckbox value="{!naContract.Cancelled__c}" styleClass="slds-checkbox"/>
                            <apex:outputLabel style="padding-left:6px;" value="{!$ObjectType.contract.fields.Cancelled__c.Label}" />
                            </div>
                            <div class="col-1-4">
                            <apex:inputCheckbox value="{!naContract.Revised__c}" styleClass="slds-checkbox"/>
                            <apex:outputLabel style="padding-left:6px;" value="{!$ObjectType.contract.fields.Revised__c.Label}" />
                            </div>

                           <apex:pageblock rendered="{!IF(naContract.Approval_Status__c == 'Approved by ZM',true,false)}"> 
                            <div class="col-1-4">
                              <apex:inputCheckbox value="{!naContract.Manually_Approved_By_ZM__c}" styleClass="slds-checkbox"/>
                              <apex:outputLabel style="padding-left:6px;" value="{!$ObjectType.contract.fields.Manually_Approved_By_ZM__c.Label}" />
                            </div>
                          </apex:pageblock>
                        </div>

                      </div>
                    </div>
                  </div>

    </div>


        </div>
        <div class="tab-pane" id="profile" style="padding-top:20px;padding-bottom:10px;">
           <div class="panel-group" id="accordion1">

            <apex:repeat value="{!roomsTermsList}" var="room">


                <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title" style="font-size:14px;">
                            <a data-toggle="collapse" data-parent="#accordion11" href="#plan-details-{!room.id}"><apex:outputField value="{!room.Name}"/></a>
                          </h4>
                      </div>
                      <div id="plan-details-{!room.id}" class="panel-collapse collapse">
                          <div class="panel-body">
                              <div class="col-1-4">
                                <label >
                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.Room_Terms__c.fields.Monthly_Base_Rent_Per_Bed__c.Label}" />
                                </label>
                                <apex:pageblock rendered="{!!readOnly}">
                                  <apex:inputfield value="{!room.Monthly_Base_Rent_Per_Bed__c}" styleClass="form-control slds-select"/>
                                </apex:pageblock>
                                <apex:pageblock rendered="{!readOnly}">
                                  <apex:inputfield html-disabled="true" value="{!room.Monthly_Base_Rent_Per_Bed__c}" styleClass="form-control slds-select"/>
                                </apex:pageblock>

                              </div>
                              <div class="col-3-12">
                                <label >
                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.Room_Terms__c.fields.Monthly_Base_Rent_Per_Room__c.Label}" />
                                </label>
                                <apex:pageblock rendered="{!!readOnly}">
                                  <apex:inputfield value="{!room.Monthly_Base_Rent_Per_Room__c}" styleClass="form-control slds-select"/>
                                </apex:pageblock>
                                <apex:pageblock rendered="{!readOnly}">
                                  <apex:inputfield html-disabled="true" value="{!room.Monthly_Base_Rent_Per_Room__c}" styleClass="form-control slds-select"/>
                                </apex:pageblock>

                              </div>
                              <div class="col-1-4">
                                <label >
                                  <abbr class="slds-required" style="color:red;">*</abbr><apex:outputLabel value="{!$ObjectType.Room_Terms__c.fields.Number_of_beds__c.Label}" />
                                </label>
                                <apex:pageblock rendered="{!!readOnly}">
                                  <apex:inputfield value="{!room.Number_of_beds__c}" styleClass="form-control slds-select"/>
                                </apex:pageblock>
                                <apex:pageblock rendered="{!readOnly}">
                                  <apex:inputfield html-disabled="true" value="{!room.Number_of_beds__c}" styleClass="form-control slds-select"/>
                                </apex:pageblock>
                              </div>
                          </div>
                      </div>
                </div>

              </apex:repeat>



              </div>
        </div>
      </div>





  </div>
 
</body>




    </html>
     </apex:form>
</apex:page>