<apex:page standardController="House__c" showHeader="false" sidebar="false" extensions="CreateCasesForHouse">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <apex:stylesheet value="{!URLFOR($Resource.SLDS, 'assets/styles/salesforce-lightning-design-system.css')}"/>
        <apex:form >
         <div class="slds">
                <div class="slds-box" style="margin-left:400px;margin-right:400px;">
                                 <!-- <apex:commandButton id="saveBtna" value="Save" action="{!CreateCase}" reRender="" styleClass="slds-button slds-button--neutral"  style="color: #0070d2;border-radius: 0.25rem;shape-margin: initial;background: white;margin-left: 270px;line-height:inherit;height:35px;width:65px;font-size :14px;font-weight:normal;border: 1px solid #d8dde6;ffamily: 'Salesforce Sans',Arial,sans-serif;" />-->
		<div class="slds-form--horizontal" style="height: 20px;">
                <label class="slds-form-element__label">Plumbing </label>
                <div class="slds-form-element__control">
                    <apex:inputCheckbox title="Plumbing" label="Plumbing" value="{!Plumbing}"/>
                </div>
            </div>
            
            <div class="slds-form--horizontal" style="height: 20px;">
                <label class="slds-form-element__label">Carpentry </label>
                <div class="slds-form-element__control">
                    <apex:inputCheckbox title="Carpentry" label="Carpentry" value="{!Carpentry}"/>
                </div>
            </div>
            <div class="slds-form--horizontal" style="height: 20px;">
                <label class="slds-form-element__label">Electrical </label>
                <div class="slds-form-element__control">
                    <apex:inputCheckbox title="Electrical" label="Electrical" value="{!Electrical}"/>
                </div>
            </div>
            <div class="slds-form--horizontal" style="height: 20px;">
                <label class="slds-form-element__label">Others </label>
                <div class="slds-form-element__control">
                    <apex:inputCheckbox title="Others" label="Others" value="{!Others}"/>
                </div>
            </div>
           <apex:commandButton id="saveBtn" value="Create" reRender="" action="{!CreateCase}"  styleClass="slds-button slds-button--neutral"  style="color: #0070d2;border-radius: 0.25rem;shape-margin: initial;background: white;line-height:inherit;margin-left: 270px;height:35px;width:65px;font-size :14px;font-weight:normal;border: 1px solid #d8dde6;ffamily: 'Salesforce Sans',Arial,sans-serif;" />
             </div>
            </div>
        </apex:form>
    </html>
</apex:page>