<apex:page showHeader="false" docType="html-5.0" sidebar="false" standardController="House__c"  extensions="GenrateQRExtension" >
<apex:slds />
 <apex:outputPanel >
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <apex:stylesheet value="{!URLFOR($Resource.SLDS, 'assets/styles/salesforce-lightning-design-system.css')}"/>
        <apex:form >
            
            <div class="slds">
                <div class="slds-box">
                    
                    
                    <div class="slds-page-header">
                        <div class="slds-media">
                            <div class="slds-media__figure">
                                <span class="slds-icon_container slds-icon-standard-opportunity" title="Description of icon when needed">
                                    <svg class="slds-icon" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#opportunity"></use>
                                    </svg>
                                </span>
                            </div>
                            
                            <div class="slds-media__body">
                                <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="CaseNumber" >House Number - {!House__c.HouseId__C}</h1>
                                <p class="slds-text-body_small slds-line-height_reset">{!House__c.Owner.name} • {!House__c.CreatedDate}</p>
                            </div>
                        </div>
                    </div>
                    <div>
                      <apex:pageBlock rendered="{!warproomTrue}">
                      Room
                         <apex:repeat value="{!wrapRoomList}" var="rom">
                          <apex:pageBlockSection columns="2">
                            <apex:inputCheckbox value="{!rom.sel}">
                            </apex:inputCheckbox>
                            {!rom.room.Name}
                          </apex:pageBlockSection>
                     </apex:repeat>
                    </apex:pageBlock>
                    </div>
                     <div>
                      <apex:pageBlock rendered="{!warpbedTrue}">
                       Bed
                         <apex:repeat value="{!wrapBedList}" var="bd">
                          <apex:pageBlockSection columns="2">
                            <apex:inputCheckbox value="{!bd.sel}">
                            </apex:inputCheckbox>
                            {!bd.bed.Name}
                          </apex:pageBlockSection>
                     </apex:repeat>
                    </apex:pageBlock>
                    </div>
                     <div>
                      <apex:pageBlock rendered="{!warpAssTrue}">
                       Asset 
                         <apex:repeat value="{!wrapAsstList}" var="ast">
                          <apex:pageBlockSection columns="2">
                            <apex:inputCheckbox value="{!ast.sel}">
                            </apex:inputCheckbox>
                            {!ast.asst.Name}
                          </apex:pageBlockSection>
                     </apex:repeat>
                    </apex:pageBlock>
                    </div>
                  </div>
                </div>
                <div align="center">
                 <apex:commandButton styleClass="slds-button slds-button_success" action="{!Genrate}"  value="Genrate QR"/> 
                 <apex:commandButton styleClass="slds-button slds-button_destructive" action="{!Cancel}" value="Cancel" /> 
               </div>
              </apex:form>
              </html>
            </apex:outputPanel>
</apex:page>