<apex:page standardController="House__c" extensions="HouseSyncStatusController" >
      <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <apex:stylesheet value="{!URLFOR($Resource.SLDS, 'assets/styles/salesforce-lightning-design-system.css')}"/>
        
          <apex:form style="padding-top:0px;padding-bottom:0px;background:#fdfdfd;">
                    <marquee style="font-size:20px;padding-top:0px;padding-bottom:0px;background:#fdfdfd;">  <apex:outputText value="{!Message}"/></marquee>
           </apex:form>
    </html>
</apex:page>