<apex:page showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
	<apex:slds />
    <div class="slds-grid">
      <div class="slds-col">Column 1</div>
      <div class="slds-col">Column 2</div>
      <div class="slds-col">Column 3</div>
    </div>

</apex:page>