<apex:page standardController="Contract" showHeader="false"  >

   
  <apex:form >
   
        <script>
             window.onload=function()
             {
                
                if('{!Contract.Agreement_Type__c}' != 'LOI'){    
                    if('{!Contract.Tenancy_Type__c}' == 'Family'){
                          window.open("/apex/SampleFamilyAgremeent?id="+'{!Contract.Id}',"_self");
                    }else{
                        
                        window.open("/apex/SampleBachelorAgremeent?id="+'{!Contract.Id}',"_self");
                    }
                }else{
                    window.open("/apex/SampleLOIPDF?id="+'{!Contract.Id}',"_self");
                }
            };
        </script>
        

  </apex:form>

</apex:page>