<apex:page docType="html-5.0" sidebar="false" showHeader="true" standardController="Case" extensions="VenderWorkorderExtension">
<head>
  <apex:slds /> 
  <script>

  </script> 
  <style>
        .slds-scope h1,
        .slds-scope h2,
        .slds-scope h3,
        .slds-scope h4,
        .slds-scope h5,
        .slds-scope h6,
        .slds-scope td,
        .slds-scope th {
            font-family: Arial, Helvetica, sans-serif !important;
        }
        .slds-scope .slds-form-element__label {
            font-size: 10px;
            color: #4a4a56;
        }
        .caseBlock .bPageBlock {
            border-color: #0070d2 !important;
            background: #ffffff !important;
        }
        .pbBody .pbSubheader {
            padding: 0;
            margin: 0;
        }
        .pbSubheader {
            background: none !important;
            color: #16325c !important;
        }
        .slds-scope .slds-form-element__label u {
            text-decoration: none;
            font-size: 10px;
        }
        .slds-form-element__control {
            font-size: 10px;
        }
        .detailList td.dataCol {
            width: 100%!important;
        }
        .detailList td.dataCol tr td {
            width: 50%;
            text-align: right;
            font-size: 10px;
            border-bottom: solid 1px #ececec;
        }
        .detailList td.dataCol tr td label {
            width: 40%;
            font-size: 10px;
            display: inline-block;
        }
        .detailList td.dataCol tr td div {
            width: 50%;
            display: inline-block;
        }
        .detailList td.dataCol tr td div {
            text-align: left;
        }
        .vendor_section {
            width: 55%;
            font-size: 10px;
        }
        .vendor_section .pbSubsection {
            margin-bottom: 10px;
            padding-left: 230px;
        }
        .vendor_section fieldset {
            margin-left: 230px;
        }
        .vendor_section fieldset table tr {
            width: 75%;
            display: block;
        }
        .vendor_section fieldset table td {
            width: 25%;
        }
      
      .pbSubheader  {
            position: relative;
            background-color: #fff !important;
            color: #333 !important;
            text-align: left;
       }
      
      .pbSubheader h3 {
            font-size: 12px !important;
      }
        
      .pbSubheader img {
          float: left;
          outline: none;
      }
      
      img.hideListButton + h3:before {
          content: '';
          position: absolute;
          top: 9px;
          left: 0;
          pointer-events: none;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px 5px 0 5px;
          border-color: #27282e transparent transparent transparent;
      }
        
      img.showListButton + h3:before {
          content: '';
          position: absolute;
          top: 7px;
          left: 5px;
          pointer-events: none;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px 0 5px 6px;
          border-color: transparent transparent transparent #27282e;
      }
      
      .sub-render {
      	 padding-left: 230px;
         margin-top: 20px;
      }
      
  </style>
</head>
<body>
<div class="slds-page-header">
    <div class="slds-media">
        <div class="slds-media__figure">
            <span class="slds-icon_container slds-icon-standard-opportunity" title="Description of icon when needed">
                <svg class="slds-icon" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#opportunity"></use>
                </svg>
            </span>
        </div>
       
        <div class="slds-media__body">
            <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="CaseNumber" >Case Number - {!Case.casenumber}</h1>
            <p class="slds-text-body_small slds-line-height_reset">{!Case.Owner.name} • {!case.CreatedDate}</p>
        </div>
    </div>
</div>
</body>
<apex:pageMessages />
<apex:pageBlock rendered="{!recoverable}">
<apex:pageBlockSection title="Case Details" collapsible="true" >

   <table>
            <tr>
                <td>
                    <label class="slds-form-element__label"><B><u>Status</u></B></label>
                    <div class="slds-form-element__control">
                        <span class="uiOutputText">{!Case.Status}</span>
                    </div>
                </td>
                <td>
                 <label class="slds-form-element__label"><B><U>Issue Level</U></B></label>
                    <div class="slds-form-element__control">
                        <span class="uiOutputText">{!Case.Issue_level__c}</span>
                    </div>
                </td>
                </tr>
                <tr>
                <td>
                    <label class="slds-form-element__label"><B><u>Problem</u></B></label>
                    <div class="slds-form-element__control">
                        <span class="uiOutputText">{!Case.Subject}</span>
                    </div>
                </td>
                <td>
                 <label class="slds-form-element__label"><B><u>Priority</u></B></label>
                    <div class="slds-form-element__control">
                        <span class="uiOutputText">{!Case.Priority}</span>
                    </div>
                </td>
                </tr>
                 <tr>
                <td>
                    <label class="slds-form-element__label"><B><u>House</u></B></label>
                    <div class="slds-form-element__control">
                        <span class="uiOutputText">{!Case.House1__r.Name}</span>
                    </div>
                </td>
                <td>
                 <label class="slds-form-element__label"><B><u>House ID</u></B></label>
                    <div class="slds-form-element__control">
                        <span class="uiOutputText">{!Case.House1__r.HouseId__c}</span>
                    </div>
                </td>
                </tr>
                <tr>
                 <td>
                 <label class="slds-form-element__label"><h3><B><u>Skill Required</u></B></h3></label>
                    <div class="slds-form-element__control">
                        <span class="uiOutputText">{!Case.Problem__r.Skills__c}</span>
                    </div>
                </td>
                 <td>
                 <label class="slds-form-element__label"><h3><B><u>Bill To</u></B></h3></label>
                    <div class="slds-form-element__control">
                        <span class="uiOutputText">{!billTo}</span>
                    </div>
                </td>
                </tr>

                </table>
</apex:pageBlockSection>
<apex:pageBlockSection title="Tenant Details" collapsible="true" >
   <table>
            <tr>
                <td>
                    <label class="slds-form-element__label"><B><u>Tenant</u></B></label>
                    <div class="slds-form-element__control">
                        <span class="uiOutputText">{!Case.Account.name}</span>
                    </div>
                </td>
                <td>
                 <label class="slds-form-element__label"><B><U>Tenant Mobile</U></B></label>
                    <div class="slds-form-element__control">
                        <span class="uiOutputText">{!Case.ContactMobile}</span>
                    </div>
                </td>
                </tr>
                <tr>
                <td>
                    <label class="slds-form-element__label"><B><u>Tenant Email</u></B></label>
                    <div class="slds-form-element__control">
                        <span class="uiOutputText">{!Case.ContactEmail}</span>
                    </div>
                </td>
                <td>
                 <label class="slds-form-element__label"><B><u>Alternative Phone</u></B></label>
                    <div class="slds-form-element__control">
                        <span class="uiOutputText">{!Case.Alternative_Phone__c}</span>
                    </div>
                </td>
                </tr>
                </table>
</apex:pageBlockSection>
<apex:pageBlockSection title="House Address" collapsible="true">
    <div class="slds-form-element" align="center">
        <table>
            <tr>
                <td>
                    <label class="slds-form-element__label"><b>Door Number</b></label>
                    <div class="slds-form-element__control">
                        <span class="uiOutputText">{!Case.House1__r.Door_Number__c}</span>
                    </div>
                </td>
                <td>      
                    <label class="slds-form-element__label"><b>Street</b></label>
                    <div class="slds-form-element__control">
                        <span class="uiOutputText">{!Case.House1__r.Street__c}</span>
                    </div>
                </td>
            </tr> 
            <tr>
                <td>
                    <label class="slds-form-element__label"><B>City</B></label>
                    <div class="slds-form-element__control">
                        <span class="uiOutputText">{!Case.House1__r.City__c}</span>
                    </div>
                </td>
                <td>      
                    <label class="slds-form-element__label"><B>State</B></label>
                    <div class="slds-form-element__control">
                        <span class="uiOutputText">{!Case.House1__r.State__c}</span>
                    </div>
                </td>
            </tr> 
            <tr>
                <td>
                    <label class="slds-form-element__label"><B>Pincode</B></label>
                    <div class="slds-form-element__control">
                        <span class="uiOutputText">{!Case.House1__r.Pincode__c}</span>
                    </div>
                </td>
                <td>      
                    <label class="slds-form-element__label"><B>Country</B></label>
                    <div class="slds-form-element__control">
                        <span class="uiOutputText">{!Case.House1__r.Country__c}</span>
                    </div>
                </td>
            </tr> 
        </table>
    </div>
    
</apex:pageBlockSection>
 <Apex:form >
 <div class="vendor_section">
    <apex:pageBlockSection title="Vender WorkOrder" columns="2">
        
        <apex:input type="datetime-local" value="{!startTime}" label="StartTime" >
            <apex:actionSupport event="onchange" action="{!Options}" reRender="User"/>
           <!--  <apex:actionSupport event="onchange" action="{!Vender}" reRender="assign"/> -->
        </apex:input>
            <apex:input type="datetime-local" value="{!endTime}" label="EndTime">
        <apex:actionSupport event="onchange" action="{!Options}" reRender="User"/>
        <!-- <apex:actionSupport event="onchange" action="{!Vender}" reRender="assign"/> -->
        </apex:input>   
       
    </apex:pageBlockSection> 
     
   <apex:outputPanel >
   <apex:selectRadio value="{!assignTo}" >
   <apex:actionSupport event="onchange" action="{!Assign}" />
   <apex:selectOptions value="{!AssignOptions}"/>
   </apex:selectRadio>
</apex:outputPanel>

<apex:outputPanel id="test">
<apex:outputPanel id="User" rendered="{!assintoaggre}">
<div align="Left" class="sub-render">
    <label class="slds-form-element__label" for="select-01">Assign TO Technician</label>
    <div class="slds-select_container">
       <apex:selectList styleClass="slds-select" value="{!username}" size="1" multiselect="false" >
        <apex:selectOptions value="{!UserOptions}"/>
    </apex:selectList>
</div>
</div>
</apex:outputPanel>

<apex:outputPanel id="assign" rendered="{!assintovender}">
<div align="Left" class="sub-render">
    <label class="slds-form-element__label" for="select-01">Vender</label>
    <div class="slds-select_container">
       <apex:selectList styleClass="slds-select" value="{!vendername}" size="1" multiselect="false">
        <apex:actionSupport event="onchange" action="{!VenderWrkCount}" />
        <apex:selectOptions value="{!venderOptions}"/>
        </apex:selectList>
</div>
</div>
</apex:outputPanel>

<apex:outputPanel id="work" rendered="{!assintovender}">
    <div class="sub-render">
 <label class="slds-form-element__label"><B><u>Workorder Count</u></B></label>
                    <div class="slds-form-element__control">
                    <span class="uiOutputText">{!wrkCount}</span>
                    </div>
       </div>
</apex:outputPanel>
</apex:outputPanel>

<div align="left">
<apex:commandButton value="Cancel" id="cancelButton" styleClass="slds-button slds-button--neutral" action="{!cancel}"   reRender="" style="margin-right: 20px;margin-top:30px;margin-bottom:30px;margin-left:230px;"/>
<apex:commandButton id="saveBtn" value="Save" action="{!InsertWorkorder}"  style="color: white; background: #0070d2; border-radius: 0.25rem; shape-margin: initial;line-height:inherit;margin-right: 10px;width:60px; font-size: 12px; height: 32px;font-weight: 100;border: 1px solid #d8dde6;" onclick="redirect(true);"/>
 </div>
</div>  
</Apex:form>
</apex:pageBlock> 
</apex:page>